<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <label for="name">Name :</label>
        <input type="text" name="name" id="name">
        <label for="username">Username :</label>
        <input type="text" name="Username" id="username">
        <label for="email">Email :</label>
        <input type="email" name="email" id="email">
        <label for="phone ">Phone</label>
        <input type="text" name="phone" id="phone">
        <label for="password">Password :</label>
        <input type="password" name="password" id="password">
        <label for="address">Address:</label>
        <input type="text" name="address" id="address">
        <label for="role">Role :</label>
        <select name="role" id="role">
            <option value="admin">Admin</option>
            <option value="Super_Admin">Super Admin</option>
            <option value="customer">Customer</option>
        </select>
        <input type="submit" value="Register"></button>

    </form>
</body>
</html>